<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>A First App</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <main>
      <header>Todo List</header>
      <section id="app">
        <h1>Add your item.</h1>
        <div id="inputBox">
          <label for="inputValue"></label>
          <input type="text" id="inputValue" v-model="enteredValue">
          <button v-on:click="addItem">Add Item</button>
        </div>
        <div id="listBox">
          <ol>
            <li v-for="list in lists">{{ list }}</li>
          </ol>
        </div>
        <div id="lastBox">
          <button id="removeLast" v-on:click="popLast">Remove Last</button>
        </div>
        <div id="resetBox">
          <button id="reset" v-on:click="resetAll">Reset</button>
        </div>
    
      </section>
    </main>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js"></script>
  </body>
</html>
